*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --primary-color: #8e7bef;
    --secondary-color: #5d3bef;
    --tertiary-color: black;

    --nav--height: 3.5rem;
    --color-catClicked: rgba(128, 128, 128, 0.432);
    --prod__card--width: 320px;
    --prod__card--height: 360px;
    --fondo-card: #f9f6ff;
    --fondo-card-mix: #8e7bef;
    --color-descripcion: rgb(0, 0, 0);
    --color-btn-buy: rgb(28, 51, 178);
    --color-btn-buy-active: rgb(72, 88, 180);

}

body {
    background-color: var(--background-color);
    color: var(--tertiary-color);
    font-family: 'Roboto', sans-serif;
}

/* ************ | NAV CSS | ***************  */
.header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 1.07rem;
    justify-content: space-between;
    text-transform: uppercase;
    padding-inline: 3rem;
}

.nav__utilidades {
    position: relative;
    display: flex;
    height: var(--nav--height);
    align-content: center;
    align-items: center;
}

.nav__utilidades a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: var(--nav--height);
    line-height: var(--nav--height);
    padding: 0 20px;
}


.nav__logo {
    height: inherit;
}

.nav__logo__img {
    height: 100%;
    border-radius: 30px;
    padding: 10px;
}

.nav__icons {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.nav__icons i {
    font-size: 1.5rem;

}


/* ************ | CARD CSS | ***************  */

.prod__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    justify-content: center;
    margin: 3rem auto;
}

.prod__card {
    position: relative;
    width: var(--prod__card--width);
    height: var(--prod__card--height);

    background: var(--fondo-card);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 220px;
}

.prod__card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--fondo-card-mix);
    transform: skewY(345deg);
    transition: 0.5s;
}

.prod__card .prod__img {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    place-items: center;
    padding: 1.2rem;
    z-index: 1;
    justify-content: center;
}

.prod__card .prod__img img {
    max-width: 100%;
    transition: 0.5s;
    width: auto;
    height: 100%;
    position: relative;
}

.prod__card:hover .prod__img img  {
    max-width: 60%;
}
.prod__card:hover .prod__inf  {
    padding-top: 0;
}

.prod__card .prod__inf {
    position: relative;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    padding-top: 1.5rem;
    transition: 0.5s ease-in-out;
}

.prod__card .prod__inf h4 {
    font-size: 1.2rem;
    color: var(--color-descripcion);
    font-weight: 600;
    letter-spacing: 1px;
}

.prod__card .prod__price {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: 1px;
}

.card__buy .btn_buy {
    display: inline-block;
    margin: 10px 0;
    padding: 0.34em 2.1em;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    cursor: pointer;
}

.card__buy .btn_buy:hover {
    background: var(--color-btn-buy-active);
}

.card__buy{
    display: flex;
    flex-direction: column;

}



/* .prod__amount input {
    display: inline-block;
    font-size: 1.5rem;
    width: 4em;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
} */

.prod__amount {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: margin 0.3s;
}



.amount__btn  i {
    font-size: 1.5rem;
}
.amount__btn {
    background-color: #ccc6;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 25px;
    box-shadow: 1px 1px 2px rgb(32, 18, 51);
    transition: 0.3s ease-in-out;
}

.amount__btn:hover {
    background-color: var(--color-btn-buy-active);
    cursor: pointer;
}


.prod__cards .card__buy {
    background-color: var(--primary-color);
    text-align: center;
}

.prod__stock {
    color: rgb(0, 0, 0);
}

/* *****************************************************/
.contenedor__carrito {
    position: fixed;
    top: var(--nav--height);
    background-color: var(--fondo-card);
    right: 0;
    width: 40vw;
    height: 90%;
    z-index: 1;
    color: black;
    box-shadow: -1px 1px 10px 1px black;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.8s ease-in-out;


}



.hidden {
    display: none;
}

/**************************************/
/***********    categorias      ***********/
/**************************************/

.categorys {
    display: flex;
    gap: 20px;
    width: 80%;
    justify-content: center;
    text-align: center;
    overflow: visible;
    margin: 3rem auto;
    padding: 0 30px;
}

.categorys .category {
    flex-grow: 1;
}

.category__title {
    width: 100%;
    display: block;
    margin: 0.3rem 0;
}

.category__subtitle {
    display: block;
}

.category .description {
    display: block;
    padding-top: 10px;
    border-bottom: 6px dotted #ccc6;
    padding-bottom: 20px;
}


input[name="category"]:checked+.description {
    color: black;
    /* background: var(--color-catClicked); */
    transition: border 0.3s ease-in-out;
    /* background-color: #ccc4; */
    border-bottom: 4px solid var(--color--description--click);

}

input[name="category"]:checked+.description .category__title {
    text-transform: uppercase;
}

.caja_categorias div .description:hover {
    cursor: pointer;
    color: white;
}


/* .art__card{
    position: relative;
    width: 90%;
    background-color: #5d3bef;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;

} */

.carrito__productos{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h3{
    /* border: 1rem; */
    margin: 1rem;
    margin-bottom: 0;
}

.art__card{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 8px;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 0.7rem 1rem;
}





.carrito__productos img{
    width: 100%;
    object-fit: cover;
}

.cart-btn{
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    /* line-height: 2rem; */
    background-color: rgba(56, 45, 66, 0.363);
    margin: 1rem;
}


.art__decription,
.art__inf{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* line-height: 2rem; */
}


